* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background: hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
    background: white;
    border-radius: 10px;
    width: 50%;
}

.presentationimg {
    width: 100%;
    height: 450px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(0, 0, 0);
    margin: 0;

}

.content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 500px;
}

.nameProduct {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: "Montserrat";
}

#title {
    font-family: 'Fraunces';
    font-size: 2.4em;
    font-weight: 550;
}

.descritpion {
    font-family: "Montserrat";
    font-size: 16px;
}

.sameColor {
    color: hsl(228, 12%, 48%);
    font-weight: normal;

}

.price {
    display: flex;
    align-items: center;
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: 550;

}

.priceReduction {
    font-size: 1rem;
    text-decoration: line-through;
    padding-left: 15px;
}

.bouttonAddCart {
    background-color: hsl(158, 36%, 37%);
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-weight: 550;
}

.iconCart {
    padding: 10px;
}

.imgMobile {
    display: none;
}

@media (hover: hover) {
    .bouttonAddCart:hover {
        background: hsl(158, 42%, 18%);
    }
}

@media screen and (max-width: 1210px) {
    .container {
        width: 55%;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 65%;
    }
}

@media screen and (max-width: 870px) {
    .container {
        width: 75%;
    }
}


@media screen and (max-width: 740px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 610px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 400px) {
    .content-container {
        padding: 30px;
    }

    body {
        padding: 50px 0;
    }

    #title {
        font-size: 1.5em;
    }

    .nameProduct {
        letter-spacing: 5px;
        font-size: 8px;
    }

    .container {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        height: 750px;
    }

    .presentationimg {
        display: none;
    }

    .imgMobile {
        width: 100%;
        height: 375px;
        display: block;
        border-radius: 10px 10px 0 0;
    }

    .price {
        font-size: 1.5em;
    }

    .priceReduction {
        font-size: 0.5em;
    }


}